#carousel-section-wrapper {
    height: 500px;
    border: 1px solid black;
    border-top: none;
    padding: 25px 15px;
    position: relative;
}

#carousel-section {
    width: 100%;
    height: 100%;
}

.carousel-section-item {
    display: none;
}

.carousel-section-item.is-active {
    display: block;
}

#carousel-buttons {
    position: absolute;
    bottom: 25px;
}

.carousel-button {
    width: 14px;
    height: 14px;
    border: 1px solid black;
    border-radius: 28px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 2px;
}

.carousel-button.is-active {
    background-color: black;
}