.product-section-heading-container {
    display: flex;
    height: 85px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.product-section-heading-item {
    width: 25%;
    border-right: 1px solid black;
    box-sizing: border-box;
}

.product-section-heading-item.contains-heading {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.product-section-heading-item svg {
    width: 100%;
    height: 100%;
}

#product-section .products-container {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid black;
}

.product-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 25%;
    height: 450px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 15px;
    cursor: pointer;
    box-sizing: border-box;
}